body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 900px;
  margin: 0px auto;
  background: rgba(188, 224, 176, 0.2);
  text-align: center;
}

.image-wrap {
  width: 100px;
  height: 100px;
}

.image-wrap img {
  height: 100%;
}
