body {
  background: rgba(188, 224, 176, 0.2);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 900px;
  margin: 0px auto;
  text-align: center;
}

.card-img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.form-error {
  height: 15px;
  margin: 10px 0px;
  color: rgb(231, 55, 55);
}
@media screen and (max-width: 575px) {
  .card-img {
    height: 35vw;
  }
}
